<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Saisissez ici le nom du groupe (oui c'est redondant)-->
    <add key="GroupName" value="NEED MONNEEEEYYY"/>

    <!-- Configurez ici l'adresse du serveur et le port du controlleur de tournoi -->
    <add key="IP" value="138.195.199.147"/>
    <add key="Port" value="7777"/>

    <!-- Indiquez ici la ligne de commande à appeler -->
    <!-- pour rappel: votreexe vosparams IP port-->
    <!-- du coup pour Python: chemin vers python dans executable et votre script et paramètres dans YourParameters-->
    <add key="Executable" value="C:\Users\eleve\AppData\Local\Programs\Python\Python37\python.exe"/>
    <add key="YourParameters" value="C:\Users\eleve\Desktop\wolpAIre\game_client.py greedy"/>
  </appSettings>
</configuration>